@import "tailwindcss";

body {
  font-family: var(--font-poppins), sans-serif;
}

.metallic-text {
  background-image: linear-gradient(to right, #e0e0e0, #c0c0c0, #e0e0e0); /* Example gradient */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3); /* Optional: Add a subtle shadow */
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

@keyframes pulseLine {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-[pulseLine_2s_ease-in-out_infinite] {
  background-size: 200% 100%;
}

.text-accent:hover {
    @apply block md:text-4xl text-2xl leading-relaxed bg-gradient-to-r from-blue-600 via-green-500 to-indigo-400 text-transparent bg-clip-text;
  }